/* CSS declarations go here */

body {
    font-family: sans-serif;
    font-size: 20px;
    color: #010514; 
    background-image: linear-gradient(to bottom, #1646B4, #5B7CC8 100%);
    background-attachment: fixed;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    
}

form {
    margin-top: 10px;
    margin-bottom: -10px;
    position: relative;
}

ul {
    margin: 15px;
    padding: 0;
    list-style: outside circle;
    }

button {
    color: #010514;
    float: right;
    background: none;
    font-size: 15px;
    font-family: sans-serif;
    border: double #000000;
    position: relative;
    size: inherit;
    z-index: 1000;
}

button:focus {
    outline: 0;
}

p.explain {
    font-size: 15px;
}

p.errorMessage {
    font-size: 15px;
    color: #ff0000;
}

input{
    background: #ffffff;
    box-sizing: border-box;
    padding: 5px 0px;
    width: 80%;
    border: none;
    font-size: 15px;
}

span {
    padding-right: 20px;
}

input:focus {
    outline: 0;
}

header {
  padding: 20px 15px 15px 15px;
  position: relative;
}

.container {
    min-width: 600px;
    max-width: 1440px;
    background: #1634A3;
    background-image: linear-gradient(to bottom, #1646B4, #385FBA 100%);
    position: static;
}

li {
    list-style: none;
    padding-bottom: 20px;
}

form.hidden {
    display: none;
}
